/* INCOMING ORDERS */
.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.rightalign { text-align: right; }
.leftalign { text-align: left; }
.large { font-size: 1.1em; font-weight: bold;}
.strong { font-weight: bold; }
.center {text-align: center;}

.yellow {
    padding: 10px;
    background-color: #FFFF00;
    border-bottom: 1px solid #000;
}
.red {
    padding: 10px;
    background-color: #FF0000;
    border-bottom: 1px solid #000;
}

body {
    margin: 0;
}

#closed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
#top {
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
	border: 1px solid #000;
	background-color: #F0E68C;
	height: 50px;
	padding: 0px 10px;
}
#top .status {
	padding-right: 50px;
	font-size: 1.2em;
}
#top .status a {
	text-decoration: none;
	line-height: 50px;
}
#top .logo {
	float: left;
	color: #FF8000;
	letter-spacing: -3px;
	font-size: 2.6em;
	margin: 0;
	font-weight: normal;
}
#top .logo span {
	font-size: 0.6em;
	letter-spacing: 0px;
	color: #000;
}
#processing-orders {
	margin: 70px 10px 0px 10px;
}
#processing-orders .order {
	width: 300px;
	border: 1px solid #000000;
        float: left;
        margin: 0px 20px 20px 0px;
}
#processing-orders .order .items {
        padding: 10px;
        border-bottom: 1px dotted #000;
}
#processing-orders .order .notes {
        padding: 10px;
        border-bottom: 1px dotted #000;
}
#processing-orders .order .notes span {
        font-size: 0.7em;   
}
#processing-orders .order .address {
        padding: 10px;
        border-bottom: 1px dotted #000;
}
#processing-orders .order .total {
        padding: 10px;
        border-bottom: 1px dotted #000;
}
#processing-orders .order .actions {
        padding: 10px;
        font-size: 0.9em;
        font-weight: bold;
}
#processing-orders .order .actions a {
        text-decoration: none;
        color: #008B00;
}